<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="DataBase/db.properties"></properties>
<typeAliases>
<typeAlias type="Model.BoardDTO" alias="BoardDTO"/>
<typeAlias type="Model.RecipeDTO" alias="RecipeDTO"/>
<!-- 삽입필요 : 나머지 DTO들 추가해줘여함!!!!!! -->
</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
  <!-- 삽입필요 : 나머지 DTO들 추가해줘여함!!!!!! -->
    <mapper resource="DataBase/BoardMapper.xml"/>
    <mapper resource="DataBase/RecipeMapper.xml"/>
  </mappers>
</configuration>